<h1>Listing languages</h1>

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Version</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%= language.name %></td>
    <td><%= language.version %></td>
  </tr>
<% end %>
</table>
