<div class="pull-right">
<% @questions = Question.top_five %>
<table class="table table-condensed table-striped table-hover">
  <tr>
    <th class="span6">
    	<div class="span2"></div>
		<div class="span4">Top 5 Questions</div>
    </th>
  </tr>
<% @questions.each do |question| %>
  <tr>
  	<td class="span6"><%= question.qtext %></td>
  </tr>
<% end %>
</table>
</div>

<h1>Welcome to <span class="has-title" title="Coding Qs">Coding Qs</span>!</h1>

<p>
  Have a technical interview you need to prepare for?
</p>

<p>
  
</p>

<% if user_signed_in? %>
<p>
  <%= link_to "Answer a question", questions_path, class: "btn btn-primary" %> to get started!
</p>
<% else %>
<p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> to get started!
</p>
<% end %>
