<div class="pull-right">
<img class="media-object" src="http://placekitten.com/400/200">
</div>

<h1>Welcome to <span class="has-title" title="Coding Qs">Coding Qs</span>!</h1>

<p>
  Got an issue on <%= link_to "Github", "http://github.com" %> you want fixed?
</p>

<p>
  Post it here and put your money where your "+1" is.
</p>

<% if user_signed_in? %>
<p>
  <%= link_to "Create a question", new_question_path, class: "btn btn-primary" %> to get started!
</p>
<% else %>
<p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> to get started!
</p>
<% end %>
